h1{
	text-align:center;
	font-family: 'Major Mono Display', monospace;
}
h3{
	text-align: center;
	font-family: 'Major Mono Display', monospace;
}
span{
	color: red;
	font-weight: bold;
}
body{
	margin: 0 auto;
}
canvas {   
	display : block;   
	margin : 0 auto;
}
.controls{
	margin: auto;
}